<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% fileList%>
    <% for(let i=0;i<fileList.length;i++){%>
        <% let splited = fileList[i].folder.split('_') %>
        <% let user = splited[0] %>
        <% let tel = splited[1] %> 
        <div class="user"><%=user%></div>
        <div class="tel"><%= tel %> </div>
        <% let file = fileList[i].files %> 
        <% for(let x=0;x<file.length;x++){%>
            <% let urlFileName = file[x].replace(/ /g,"%20")%> 
            <a href=<%=`/download?user=${user}_${tel}&file=${urlFileName}`%>><%=file[x] %> </a>
        <%} %>
        
    <%} %> 

</body>
</html>