<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <a href="https://nid.naver.com/oauth2.0/authorize?response_type=code&client_id=wZfpTOqOutFBRqzbh9su&redirect_uri=http://127.0.0.1:3000/login/callback&state=asdf"><img src="/img/btnG_완성형.png" alt="네이버로그인버튼"></a>
</body>
</html>